      <h3>follower (
<%= @user.follower_users.count %>
)</h3>
     <ol class="follower_users">
 
          <%= render partial: 'follower_users/follower_user', collection: @follower_users %>
        
      </ol>